body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(223, 219, 219, 0.966);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 2rem;
}

button {
    background-color:transparent;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    width: 100%
}

button:hover {
    background-color: gray;
}

.left {
    width: 133px;
}

#color {
    background-color: gray;;
}

.grid-container {
    background-color: white;
    display: grid;
    width: 500px;
    height: 500px;
}

@media (max-width: 850px) {
    .grid-container {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 650px) {
    .grid-container {
        width: 300px;
        height: 300px;
    }
}

footer a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

footer a:hover {
    opacity: 1;
}

footer {
    margin: auto;
    margin-bottom: 0;
    padding: 1rem;
}

#colorpicker {
    width: 100%;
    height: 6rem;
    border-radius: .5rem;
}

.size-display {
    font-size: 24px;
    font-weight: bold;
}